<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
   <h1>Department</h1>
   <h2>Add Department</h2>
   <form action="/admin/addDepartment" method="POST">
         <label>Department Name : </label>
         <input type="text" name="departmentName" value="">
         <label>Department Location : </label>
         <input type="text" name="departmentLocation" value="">
         <button type="submit">Submit</button>
   </form>
   <hr>
   <h1>View all departments..</h1>
   <% if(!department){ %>
      <p>Something went wrong</p>
   <% }else { %>
      <% let departmentArr = Object.values(department) %>
         <table>
            <thead>
               <th> Department Name </th>
               <th> Department Location </th>
            </thead>
            <% departmentArr.forEach(d => { %>
               <tr>
                  <td>
                     <a href="/admin/departmentMain/<%= d._id %>">
                        <%= d.departmentName %>
                     </a>
                  </td>
                  <td>
                     <%= d.departmentLocation %>
                  </td>
                  <td>
                     <a href="/admin/getDepartment/<%= d._id %>">
                        <button type="submit"> Edit </button>
                     </a>
                  </td>
                  <td>
                  <form action="/admin/deleteDepartment/<%= d._id %>?_method=DELETE" method="POST">
                     <button type="submit"> Delete </button>
                  </form>
                  </td> 
               </tr>
            <% }) %>
         </table>
   <% } %>
</body>
</html>