<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1> Teacher Edit </h1>
    <form action="/admin/editTeacher/<%= teacher._id %>?_method=PUT" method="POST">
        <input type="hidden" name="departmentId" value="<%= department %>">
        <p>
            <label> Teacher Image: </label>
            <img src="<%= teacher.teacherImage %>" height="100" width="50">
        </p>
        <p>
            <label> Teacher Name: </label>
            <input type="text" name="teacherName" value="<%= teacher.teacherName %>">
        </p>
        <p>
            <label> Teacher Email: </label>
            <input type="mail" name="teacherEmail" value="<%= teacher.teacherEmail %>">
        </p>
        <p>
            <label> Teacher Phone No: </label>
            <input type="text" name="teacherPhoneNo" value="<%= teacher.teacherPhoneNo %>">
        </p>
        <p>
            <label> Teacher Address: </label>
            <input type="text" name="teacherAddress" value="<%= teacher.teacherAddress
             %>">
        </p>
        <p>
            <label> Teacher Designation: </label>
            <input type="text" name="teacherDesignation" value="<%= teacher.teacherDesignation %>">
        </p>
        <p>
            <label> Date of Joining: </label>
            <input type="date"  name="dateofJoining" value="<%= jdate %>">
        </p>
        <p>
            <label> Teacher DOB: </label>
            <input type="date" name="teacherDOB" value="<%= tdate %>">
        </p>
        <p>
            <label> Teacher Gender: </label>
            <input type="text" name="teacherGender" value="<%= teacher.teacherGender %>"> 
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>