<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1> Edit Section </h1>
    <form action="/admin/editSection/<%= section._id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label>Course Name : </label>
        <input type="text" name="courseName" value="<%= section.courseName %>">
        <label>Semester/Year Name: </label>
        <input type="text" name="semesterName" value="<%= section.semesterName %>">
        <lable>Section Name: </lable>
        <input type="text" name="sectionName" value="<%= section.sectionName %>">
        <label>Total Student: </label>
        <input type="text" name="totalStudent" value="<%= section.totalStudent %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>