<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<body>
    <h1>Student</h1>
    <h2>Add Student</h2>
    <form action="/admin/addStudent" method="POST" enctype="multipart/form-data">
        <p>
            <label> Student Name: </label>
            <input type="text" name="studentName" value="">
        </p>
        <p>
            <label> Student Email: </label>
            <input type="mail" name="studentEmail" value="">
        </p>
        <p>
            <label> Student Phone No: </label>
            <input type="text" name="studentPhoneNo" value="">
        </p>
        <p>
            <label> Student Address: </label>
            <input type="text" name="studentAddress" value="">
        </p>
        <p>
            <label> Student DOB: </label>
            <input type="date" name="studentDOB" value="">
        </p>
        <p>
        <label> Student Gender: </label>
            <input type="radio" name="studentGender" value="Male" checked>Male
            <input type="radio" name="studentGender" value="Female">Female
            <input type="radio" name="studentGender" value="Others">Others
        </p>
        <p>
            <label> Course Name: </label>
            <select name="course">
                <option> Select Course </option>
                <% course.forEach(c => { %>
                    <option value="<%= c._id %>">
                        <%= c.courseName %>
                    </option>
                <% }) %>
            </select>
        </p>
        <p>
            <label> Student Image: </label>
            <input type="file" name="image" value=""> 
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    <hr>
    <h1>View all student..</h1>
    <% if(!student){ %>
        <p> Something went wrong </p>
    <% }else{ %>
        <% let studentArr = Object.values(student) %>
        <table>
            <thead>
                <tr>
                    <th> Student Name </th>
                    <th> Student Email </th>
                    <th> Student Phone No </th>
                    <th> Student Address </th>
                    <th> Student DOB </th>
                    <th> Student Gender </th>
                    <th> Course Name </th>
                    <th> Semester Name </th>
                    <th> Student Image </th>
                    <th> Date Of Admission </th>
                </tr>
            </thead>
            <% studentArr.forEach(stu => { %>
                <tbody>
                    <tr>
                        <td><%= stu.studentName %></td>
                        <td><%= stu.studentEmail %></td>
                        <td><%= stu.studentPhoneNo %></td>
                        <td><%= stu.studentAddress %></td>
                        <td><%= stu.studentDOB %></td>
                        <td><%= stu.studentGender %></td>
                        <td><%= stu.course.courseName %></td>
                        <td><%= stu.semesterName %></td>
                        <td>
                            <img src="<%= stu.studentImage %>" height="50" width="100">
                        </td>
                        <td><%= stu.dateofAdmission %></td>
                        <td>
                            <a href="/admin/getStudent/<%= stu._id %>">
                                <button type="submit">Edit</button>
                            </a>
                        </td>
                        <td>
                            <form action="/admin/deleteStudent/<%= stu._id %>" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            <% }) %>
        </table>
    <% } %> 
</body>
</html>