<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACCADEMY</title>
</head>
<body>
    <h1>Edit Book</h1>
    <form action="/library/editBook/<%= book._id %>?_method=PUT" method="POST">
        <label>Book Name</label>
        <input type="text" name="bookName" value="<%= book.bookName %>">
        <label>Category</label>
        <select name="category">
            <% category.forEach(c => { %>
                <option value="<%= c._id %>"><%= c.categoryName %></option>
            <% }) %>
        </select>
        <label>Author</label>
        <select name="author">
            <% author.forEach(a => { %>
                <option value="<%= a._id %>"><%= a.authorName %></option>
            <% }) %>
        </select>
        <label>ISBN Number</label>
        <input type="text" name="ISBNNumber" value="<%= book.ISBNNumber %>">
        <label>Price</label>
        <input type="text" name="bookPrice" value="<%= book.bookPrice %>">
        <label>Book Picture</label>
        <img src="<%= book.bookImage %>" height="50" width="100"> 
        <label>Is Issued</label>
        <input type="text" name="isIssued" value="<%= book.isIssued %>">
        <label>Registration Date</label>
        <input type="date" name="regDate" value="<%= book.regDate %>">
        <label>Updation Date</label>
        <input type="date" name="updationDate" value="<%= book.updationDate %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>