<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Z-ACADEMY</title>
</head>
<style>
    th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<% const days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>

<body>
    <h1>Add Slot</h1>
    <button id="btn">Add New Slot</button>
    <br>
    <form id="form" style="display: none;" action="/timetable/addSlot" method="POST">
        <label>From</label>
        <input type="text" name="form">
        <label>To</label>
        <input type="text" name="to">
        <% days.forEach(day => { %>
            <input type="checkbox" name="days" value="<%= day %>">
            <%= day %>
        <% }) %>
        
        <button type="submit">Submit</button>
    </form>
    <hr>
    <h1>View Time Slot</h1>
    <% if (!slot) { %>
        <p>Something went wrong</p>
    <% } else { %>
        <% slotArr = Object.values(slot) %>
        <table>
            <thead>
                <tr>
                    <th>Day/Time</th> <!-- Empty cell at the top-left corner -->
                    <% slotArr.forEach(s => { %>
                        <th><%= s.from %> - <%= s.to %></th> <!-- Time slot as column headings -->
                    <% }) %>
                </tr>
            </thead>
            <tbody>
                <% days.forEach(day => { %>
                    <tr>
                        <td><%= day %></td> <!-- Day name as row heading -->
                        <% slotArr.forEach(s => { %>
                            <td>
                                <% if (s.days.includes(day)) { %>
                                    <p>Sub: </p>
                                    <p>Teacher: </p>
                                <% } else { %>
                                    X
                                <% } %>
                            </td>
                        <% }) %>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>
</body>
    
<script>
    const btn = document.getElementById('btn');
    btn.addEventListener('click', () => {
        const form = document.getElementById('form')

        if (form.style.display === 'none') {
            form.style.display = 'block';
        } else {
            form.style.display = 'none';
        }
    })
</script>
</html>